$main-color: blueviolet;
$facebook-color: rgb(24, 119, 242);
$instagram-color: rgb(193, 53, 132);
$youtube-color: rgb(255, 0, 0);
$discord-color: rgb(114, 137, 217);
$twitter-color: rgb(29, 161, 242);
