@import "variables-style";
@import "MainHeader-style";
@import "Sidebar-Header";
@mixin Sidebar($width) {
  border-radius: 10px;
  background-color: chocolate;
  transition: 0.5s;
  width: $width;
  cursor: pointer;
}
@mixin Footer-Media() {
  position: absolute;
  top: 8%;
  font-size: 19px;
  cursor: pointer;
  font-size: 27px;
  color: rgb(100, 100, 187);
}
body {
  background-color: white;
  color: black;
  margin: 0px;
}

.dark-mode {
  background-color: rgb(37, 35, 35);
  color: white;
}

.position-text {
  position: absolute;
  top: 70%;
  left: 3%;
  font-weight: bold;
  font-family: Helvetica;
}

.icon-bars {
  position: fixed;
  top: 2%;
  left: 49%;
  transform: translate(-50%, 0%);
  color: $main-color;
  font-size: 30px;
  cursor: pointer;
  &:hover {
    font-size: 35px;
  }
  &:not(:hover) {
    transition: 100ms;
    font-size: 30px;
  }
}

hr {
  width: 110%;
  height: 5px;
  position: absolute;
  top: 3%;
  left: -2%;
  margin-top: 110px;
  box-shadow: 10px 10px 5px rgba(143, 140, 140, 0.45);
  color: transparent;
}

.MarketingText2 {
  position: absolute;
  top: 79%;
  left: 45%;
}

.Table {
  position: absolute;
  top: 50%;
  left: 50%;
}

.Marketingtexts-3 {
  font-weight: bold;
  text-transform: uppercase;
  top: 85%;
  font-size: 15px;
}

.MarketingText31 {
  position: absolute;
  left: 25%;
}

.MarketingText32 {
  position: absolute;
  left: 45%;
}

.MarketingText33 {
  position: absolute;
  left: 65%;
}

.MarketingIcons {
  font-size: 32px;
  color: $main-color;
  .gamepad {
    position: absolute;
    top: 85.8%;
    left: 21.8%;
  }
  .handshake {
    position: absolute;
    top: 85.8%;
    left: 41.8%;
  }
  .thumbsUp {
    position: absolute;
    top: 85.2%;
    left: 62.5%;
  }
}

.MC {
  width: 220px;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 20%;
  cursor: pointer;
  &:hover {
    width: 245px;
    transition: 0.3s;
  }
}

.Product {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: Helvetica;
}

.ProductName {
  position: absolute;
  top: 31.5%;
  left: 20%;
  padding-right: 10px;
  border-right: 1.5px solid black;
  font-family: Helvetica;
  font-weight: bold;
}

.Price {
  position: absolute;
  top: 31.5%;
  left: 31%;
  font-family: Helvetica;
}

.xbox {
  position: absolute;
  top: 33.1%;
  left: 25.5%;
  font-size: 20px;
}

.windows {
  position: absolute;
  top: 33.1%;
  left: 27.5%;
  font-size: 20px;
}

.ForCart {
  background-color: $main-color;
  display: flex;
  align-items: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid;
  padding-left: 15px;
  cursor: pointer;
  &:hover {
    background-color: orange;
    transition: 0.2s;
  }
}

#CartButton {
  position: absolute;
  top: 36.5%;
  left: 25%;
  width: 8.5%;
  height: 3.5%;
}

#WiButton {
  position: absolute;
  top: 36.5%;
  left: 19.9%;
  width: 2.3%;
  height: 3.5%;
  &:hover {
    background-color: red;
    transition: 0.2s;
  }
}

.ForDesktop {
  position: absolute;
  top: 19%;
  left: 50%;
  display: flex;
  font-family: Helvetica;
  align-items: center;
  font-weight: bold;
  border: 2px solid;
  width: 7%;
  height: 3%;
  padding-left: 15px;
  border-radius: 25px;
  background: $main-color;
  color: white;
  cursor: pointer;
  &:hover {
    height: 4%;
    transition: 0.2s;
  }
}

#SidebarForGames {
  height: 0%;
  width: 0px;
  position: fixed;
  top: 22.5%;
  left: 49%;
  border-radius: 25px;
  background: transparent;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
  z-index: 1;
  overflow-x: hidden;
  /*Disable horizontal scroll*/
  font-size: 19px;
  text-align: center;
  .chevron-up {
    position: absolute;
    top: 1%;
    left: 43%;
    font-size: 25px;
    cursor: pointer;
    &:hover {
      top: 0%;
      transition: 0.1s;
    }
  }
  .Icon-Playstation {
    position: absolute;
    top: 50.9%;
    left: 8%;
    color: blue;
  }
  .Icon-Xbox {
    position: absolute;
    top: 66.5%;
    left: 9%;
    color: green;
  }
  .Icon-Nintendo {
    position: absolute;
    top: 82%;
    left: 11%;
    color: red;
  }
  .Icon-Steam {
    position: absolute;
    top: 35.9%;
    left: 9%;
    color: darkblue;
  }
  .add-space {
    text-align: center;
    line-height: 50px;
    position: relative;
    top: 10px;
    width: 180px;
    height: 50px;
    left: 5px;
    border: 1px solid;
    border-radius: 25px;
    background-color: $main-color;
    color: white;
    font-family: Helvetica;
  }
  .ForSidebarGames {
    border: 1px solid;
    background-color: rgb(146, 190, 197);
    border-radius: 25px;
    width: 165px;
    margin-left: 10px;
    cursor: pointer;
    font-family: Helvetica;
    &:hover {
      background: $main-color;
      color: white;
    }
  }
}

.chevron-down {
  position: absolute;
  top: 23%;
  left: 81%;
}

.Counter1 {
  font-size: 0px;
  font-family: Helvetica;
  border: 1px solid;
  border-radius: 0px;
  padding: 0 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

#WiCounter {
  position: absolute;
  top: 1.4%;
  left: 71%;
}

#CartCounter {
  position: absolute;
  top: 1.4%;
  left: 61%;
}

.position-text2 {
  position: absolute;
  top: 92%;
  margin: 25px;
}

.angel-down {
  display: inline;
  position: absolute;
  top: 25.5%;
  left: 58%;
  font-size: 40px;
  color: rgb(45, 10, 139);
}

.full {
  transform: rotate(180deg);
}

.Subtheme {
  font-size: 20px;
  display: none;
}

.open {
  display: inline;
  cursor: pointer;
  position: absolute;
  margin-top: 20px;
  &::after {
    content: "";
    display: block;
    width: 80px;
    padding-top: 2px;
    border-bottom: 4px solid blue;
  }
  &:hover::after {
    width: 150px;
    transition: 0.4s;
  }
}

#ForSubtheme {
  margin-left: 290px;
}

.SupportDown {
  top: 64%;
  left: 37%;
}

.fullSupport {
  transform: rotate(180deg);
}

.openSupport {
  display: inline;
  cursor: pointer;
  position: absolute;
  margin-top: 20px;
  &::after {
    content: "";
    display: block;
    width: 50px;
    padding-top: 2px;
    border-bottom: 4px solid blue;
  }
  &:hover::after {
    width: 100px;
    transition: 0.4s;
  }
}

#Support-Subtheme2 {
  margin-left: 170px;
}

#scroll-up {
  display: none;
  position: fixed;
  top: 95%;
  left: 95%;
  height: 35px;
  width: 35px;
  border: none;
  background-color: orange;
  cursor: pointer;
  box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  z-index: 3;
  &:hover {
    background-color: orangered;
  }
  .sort-up {
    font-size: 20px;
    line-height: 40px;
  }
}
Footer {
  height: 200px;
  width: 2000px;
  background-color: rgb(52, 52, 52);
  position: absolute;
  top: 150%;
  left: 0%;
}
.Copyright {
  border-left: 1px solid;
  padding-left: 19px;
  position: absolute;
  top: 75%;
  left: 45%;
  font-family: Helvetica;
}
.Policy {
  border-left: 1px solid;
  padding-left: 31px;
  position: absolute;
  top: 75%;
  left: 37%;
  cursor: pointer;
  font-family: Helvetica;
  &:hover {
    color: $main-color;
    border-color: black;
  }
}
.Ter-Con {
  position: absolute;
  top: 75%;
  left: 28%;
  cursor: pointer;
  font-family: Helvetica;
  &:hover {
    color: $main-color;
  }
}
.FollowUs {
  position: absolute;
  left: 63%;
  font-family: Helvetica;
  font-size: 19px;
}
.Footer-Social-Media {
  @include Footer-Media();
}
.Footer-facebook {
  left: 68%;
  &:hover {
    color: $facebook-color;
  }
}
.Footer-discord {
  left: 70.5%;
  &:hover {
    color: $discord-color;
  }
}
.Footer-twitter {
  left: 73.5%;
  &:hover {
    color: $twitter-color;
  }
}
.Footer-instagram {
  left: 78.9%;
  &:hover {
    color: $instagram-color;
  }
}
.Footer-youtube {
  left: 76%;
  &:hover {
    color: $youtube-color;
  }
}
.Newsletter {
  position: absolute;
  top: 8%;
  left: 3%;
  font-family: Helvetica;
  font-size: 19px;
}
#Newsletter-Email {
  position: absolute;
  top: 35%;
  left: 3%;
  border-radius: 10px;
  width: 230px;
  height: 32px;
  font-size: 19px;
  background-color: black;
  border: 1px solid;
  border-color: white;
  padding-left: 10px;
  outline: none;
  &:focus {
    color: white;
  }
}
::placeholder {
  font-family: Helvetica;
  color: rgb(145, 138, 138);
  font-size: 19px;
}
.JoinUsEmail {
  position: absolute;
  top: 39.1%;
  left: 14%;
  cursor: pointer;
  color: white;
  font-size: 19px;
  &:hover {
    left: 14.1%;
    transition: 0.5s;
  }
}
.Button-Newsletter {
  background-color: transparent;
  border-color: transparent;
}
#Language-Container {
  font-size: 23px;
  display: inline;
  position: absolute;
  top: 50%;
  left: 65%;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#ForLanguage-Container {
  display: none;
}

#ForLanguage-Container.openForLanguage {
  display: block;
  position: absolute;
  top: 31%;
  left: 65%;
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
}
#angles-up {
  padding-right: 14px;
}
#angles-up.openAnglesUp {
  transform: rotate(180deg);
}
