@import "variables-for-about";

@mixin name {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

#container {
  margin: 0;
  padding: 64px;
  width: 768px;
  display: grid;
  place-items: center;
  .accordition {
    max-width: 800px;
    .accordition-for-item {
      padding: 24px 54px 0 24px;
      width: 599px;
      margin-bottom: 24px;
      border-radius: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
    button {
      @include name();
      font-size: 29px;
      margin-bottom: 10px;
      margin-top: -5%;
      &:hover {
        color: $MainColor1;
      }
    }
  }
}
